/******* FOOTER *******/

footer {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 30px;
  color: #666666;
}

footer p {
  font-family: 14px;
  margin-bottom: 15px;
}

footer li {
  font-size: 12px;
  line-height: 20px;
}

.footer-div {
  display: flex;
  justify-content: space-between;
}
